
  
  body {
  
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
 
  
  .converter {
 
    background: rgb(42, 121, 224);
    color: white;
    
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 45px;
 
    width: 100%;
   
 
  }
  
  .title {
  
    font-size: 30px;
    text-align: center;
  }
  .result {
    text-align: center;
    margin: 20px 0;
  }
  .heading {
 
    font-size: 2rem;
    font-weight: 600;
  }
  .value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
  
  }
  h3 {
   
    font-size: 20px;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    color: white;
    font-size: large;
    margin-bottom: 15px;
  }
  
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

 
  #convert-btn {
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-weight: bold;
 

    margin-top: 10px;
    padding: 12px 80px;

  }

